@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
    box-sizing: content-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
p,
aside,
#container {
    padding: 15px;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

img {
    filter: grayscale(100%);
}

svg {
    display: none;
}

@media screen and (min-width: 550px) {

    body {
        background-color: #ccc;
    }

    #container {
        max-width: 1000px;
        padding: 30px;
        box-shadow: 3px 3px 3px rgba(30, 30, 30, 0.7);
        margin: 30px auto;
        background-color: white;        
    }

    img {
        max-width: 250px;
        filter: none;
        clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);
    }

    footer {
        background-color: black;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .clearfix {
        overflow: auto;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

@media screen and (min-width: 1200px) {

    img {
        max-width: 100%;
        height: auto;
        padding: 10px;
        border: 3px solid #000;
        clip-path: none;
    }

    svg {
        display: block;
        padding: 10px;
        border: 3px solid #000;
    }

    h1,
    h2,
    h3 {
        clear: both;
    }
}