* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    background-color: lightblue;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

div, h1, h2, p, ul, figure {
    margin: 20px;
}

li {
    margin-left: 15px;
}

div, header {
    background-color: #fff;
    margin: 10px auto;
    max-width: 1000px;
    border-top: 10px solid #009cab;
    border-bottom: 10px solid #009cab;
}

header {
    background-color: #faead5;
}

p img {
    width: 160px;
    height: 180px;
    object-fit: cover;
    object-position: left;
}

figure {
    background-color: #eee;
}

figure img {
    max-width: 100%;
    height: auto;
}

figcaption {
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}

.center {
    text-align: center;
}

@media screen and (min-width: 700px) {

    p img {
        width: 45%;
        object-fit: contain;
    }
}

@media screen and (min-width: 900px) {

    header {
        height: 300px;
        background-image: url(../images/intro.jpg);
        background-size: cover;
        background-position: bottom;
    }

    ul {
        margin-left: 50px;
        list-style-image: url(../images/pencil.png);
    }
}