body {
    background-image: url(../images/home.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    background-attachment: fixed;
    font-size: 1.5rem;
}

table {
    border-width: 5px;
}

caption {
    background-color: black;
    color: #79a51b;
    font-size: 1.2rem;
    caption-side: bottom;
}

td {
    width: 400px;
}

td:nth-child(1) li {
    list-style-image: url(../images/plus.png);
    list-style-position: inside;
}

td:nth-child(2) li {
    list-style-image: url(../images/min.png);
    list-style-position: inside;
}