body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

figcaption {
    text-transform: uppercase;
}

a {
    background-color: white;
    color: #009cab;
    font-weight: bold;
}

nav a {
    background-color: white;
    color: #f04c25;
    text-decoration: none;
}

nav a:hover { 
    background-color: #f04c25;
    color: white;
}

nav a:focus {
    background-color: yellowgreen;
    color: black;
}

img {
    border: 5px solid #000;
    border-radius: 25px;
}

.bold {
    font-weight: bold;
}

.decorated {
    font-style: italic;
}