* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

div,
h1,
h2,
h3,
p {
    padding: 15px;
}

a,
span {
    color: #009cab;
    font-weight: bold;
    text-transform: uppercase;
}

.hideonsmall {
    display: none;
}

@media screen and (min-width: 768px) {

    body {
        background-color: #ccc;
        color: #000;
        font-size: 1.2rem;
    }

    #container {
        max-width: 700px;
        border: 2px solid #000;
        border-radius: 20px;
        margin: 20px auto;
        background-color: white;
    }

    .showonmedium {
        display: block;
    }

    .hideonmedium {
        display: none;
    }

    span.showonmedium {
        text-align: right;
    }

    p.showonmedium,
    section.showonmedium {
        border-left: 2px solid #000;
        margin: 0px 15px;
        background-color: #eee;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-color: #009cab;
        color: #000;
        font-size: 1.4rem;
    }

    #container {
        max-width: 900px;
        box-shadow: 2px 2px 2px rgba(25, 25, 25, 0.8);
        margin: 30px auto;
    }

    .showonlarge {
        display: block;
    }

    .hideonlarge {
        display: none;
    }

    span.showonlarge {
        text-align: right;
    }

    p.showonlarge,
    section.showonlarge {
        border-left: 2px solid #009cab;
        margin: 0px 15px;
        background-color: #ecfafb;
    }
}

@media print {
    
    .showonprint {
        display: block;
    }

    .hideonprint {
        display: none;
    }
}