html {
    font-size: 16px;
}

body {
    background-size: 1rem 1rem;
    background-image:
        linear-gradient(rgba(0, 0, 255, .3), transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 255, .3), transparent 1px);
    background-color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

div {
    max-width: 84rem;
    border: 1rem solid #000;
}

h1 {
    padding: 1rem;
    border-bottom: 1rem solid #000;
    margin: 0px;
    background-color: #ccc;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: left;
}

img {
    padding: 1rem;
    border-radius: 50%;
    background-color: #eee;
}

footer {
    display: block;
    padding: 1rem;
    border-top: 1rem solid #000;
    margin: 0px;
    background-color: #ccc;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}