* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 12px;
}

body {
    background-color: #d7e7cd;
    font-family: sans-serif;
    line-height: 1.5;
}

div {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    padding: 1rem 4rem 4rem 4rem;
    border-bottom: 0.5rem solid #000;
    background-color: white;
    font-size: 2rem;
    text-align: center;
}

h2 {
    margin-right: 2rem;
    font-variant: small-caps;
    text-align: right;
}

p {
    margin: 1rem;
}

img {
    padding: 1rem 1rem 4rem 1rem;
    border-radius: 2px;
    box-shadow: 0.5rem 0.5rem 0.6rem rgba(150, 150, 150, 0.5);
    margin: 1rem;
    background-color: white;
}

footer {
    display: none;
}